<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ddns.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ddns.My.MySettings>
            <setting name="domains" serializeAs="String">
                <value />
            </setting>
            <setting name="tokens" serializeAs="String">
                <value />
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://dynv6.com/api/update</value>
            </setting>
            <setting name="param" serializeAs="String">
                <value>?hostname={0}&amp;token={1}&amp;ipv6={2}/64&amp;ipv6prefix={3}/64</value>
            </setting>
            <setting name="isp" serializeAs="String">
                <value />
            </setting>
            <setting name="suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="suffix_switch" serializeAs="String">
                <value>False</value>
            </setting>
        </ddns.My.MySettings>
    </userSettings>
</configuration>
